<html>
  <head>
    <title>No Result</title>
  </head>
  <body>
    <h2>No Result!</h2>
    <a href="/home"><button>Go back home</button></a>
    <a href="/create"><button>Create?</button></a>
  </body>
</html>
